body {
    font-family: 'Courier New', monospace;
    background-color: #0a0a0a;
    color: #00ff00;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    user-select: none;
  }

  #error-message {
    color: red;
    font-size: .8rem;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-align: right;
    border-left: 1px dashed red;
}

  /* =========================================================
   TITLE AND BLINKING CURSOR
   ========================================================= */
   .title-container{
    margin-top: 0px;
    margin-bottom: 20px;
}

.retro-title {
    font-size: 2rem;
    display: inline-block;
    text-shadow: 0 0 10px #00ff00;
}

.blinking-cursor {
    animation: blink 1s infinite;
    text-shadow: 0 0 10px #00ff00;
}

@keyframes blink { 
    0%, 100% { opacity: 1; } 
    50% { opacity: 0; } 
}

/* =========================================================
PASSWORD IMPUT BOX
========================================================= */
.password-submit {
    display: flex;
    align-items: center;
    gap: 10px;
}

  #password-container {
    background: linear-gradient(to right, #050505 0%, #111 50%, #050505 100%); 
    box-shadow: 0 0 15px #00ff00; 
    width: 80%; 
    max-width: 1200px;
    margin: 20px auto;
    border: 2px solid #00ff00; 
    padding: 20px; 
    text-align: left; 
    position: relative; 
  }

  #password-container p {
    font-size: 2rem;
    display: inline-block;
    text-shadow: 0 0 10px #00ff00;
    margin: 0px;
  }

  #password-container input[type="password"] {
    margin: none; 
    padding: 10px; 
    font-family: 'Courier New', monospace; 
    font-size: .8rem; 
    border: 2px solid #00ff00; 
    background-color: #0a0a0a; 
    color: #00ff00; 
    outline: none;
    text-align: left;
    max-width: 400px;
  }

/* =========================================================
SUBMIT BUTTON
========================================================= */
  #password-container button {
    padding: 10px; 
    font-family: 'Courier New', monospace; 
    font-size: .8rem; 
    border: 2px solid #00ff00;
    background-color: #0a0a0a; 
    color: #00ff00;
    outline: none; 
    text-align: center; 
  }

  #password-container button:hover {
    border-color: #fff; 
    box-shadow: 0 0 10px #00ff00; 
    text-decoration: underline; 
    cursor: pointer; 
  }